<p id="notice"><%= notice %></p>

<h1>Paints</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Year</th>
      <th>Description</th>
      <th>Comments</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paints.each do |paint| %>
      <tr>
        <td><%= paint.title %></td>
        <td><%= paint.category %></td>
        <td><%= paint.year %></td>
        <td><%= paint.description %></td>
        <td><%= paint.comments %></td>
        <td><%= paint.image %></td>
        <td><%= link_to 'Show', paint %></td>
        <td><%= link_to 'Edit', edit_paint_path(paint) %></td>
        <td><%= link_to 'Destroy', paint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paint', new_paint_path %>
