<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paint.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @paint.category %>
</p>

<p>
  <strong>Year:</strong>
  <%= @paint.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @paint.description %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @paint.comments %>
</p>

<p>
  <strong>Image:</strong>
  <%=  @paint.image %>
  <%= image_tag(@paint.image, alt: @paint.title) %>
</p>

<%= link_to 'Edit', edit_paint_path(@paint) %> |
<%= link_to 'Back', paints_path %>
