<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				<h1 class="brand-heading">
    					<%= image_tag("3.PNG", alt: 'Anibal Borja', class: "mx-auto", style: "width: 10em; height: 4em;") %>
    				</h1>
    				<p class="intro-text">
    					<%= @lema %>
    				</p>
    				<a href="#about" class="btn btn-circle page-scroll">
    				    <i class="fa fa-angle-double-down animated"></i>
    				</a>
    			</div>
    		</div>
    	</div>
    </div>
</header>

<!-- About Section -->
<section id="about">
	<div class="container content-section text-center">
		<div class="row">
			<h2>Sobre mi</h2>
			<div class="col-lg-12 text-center">
			    <%= image_tag("anibalPhoto.jpg", alt: 'Anibal Borja', class: "mx-auto img-circle", style: "height: 10em; width: 10em;") %>
			    <br></br>
				<h5>Anibal Borja</h4>
			</div>
			<div class="col-lg-8 col-lg-offset-2">
				<p class="pHomePage">
					Maestro en Bellas Artes, con especialización en Pintura. <br/> Universidad Nacional de Colombia.
				</p>
				<p>
					<a href="/sobre-mi" class="btnghost"><i class="fa fa-plus"></i> Saber más</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section id="gallery">
	<div class="gallery">
		<ul>
			<div class="col-lg-12 col-md-12 col-sm-12" id="headerImageGrid">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<h2>Galería</h2>
					<p class="pHomePage">Podrás ver todas las obras de <b><i><%= @page_name %></i></b> en la galería.</p>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12">
					<button type="button" class="btn btnghost btn-lg"><i class="fa fa-paint-brush"></i><span class="network-name"> Acceder a galería</span></button>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12" id="imageGrid">
				<div class="col-lg-3 col-md-6 col-sm-6" id="imageGrid1">
					<% rnd_img = Paint.where(:image => "paints/pastor.PNG") %>
					<%= image_tag(rnd_img[0].image, alt: rnd_img[0].title, id: "myImg", class: "myImg", onclick: "paintZoomIn(this);") %>
				</div>
				<div class="col-lg-9 col-md-6 col-sm-6" id="imageGrid2">
					<div class="col-lg-12" id="imageGrid2_1">
						<div class="col-lg-6 col-md-12 col-sm-12">
							<% rnd_img = Paint.find(rand(1..Paint.count)) %>
							<%= image_tag(rnd_img.image, alt: rnd_img.title, id: "myImg", class: "myImg", onclick: "paintZoomIn(this);") %>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12">
							<% rnd_img = Paint.find(rand(1..Paint.count)) %>
							<%= image_tag(rnd_img.image, alt: rnd_img.title, id: "myImg", class: "myImg", onclick: "paintZoomIn(this);") %>
						</div>
					</div>
					<div class="col-lg-12" id="imageGrid2_2">
						<div class="col-lg-4 col-md-12 col-sm-12">
							<% rnd_img = Paint.find(rand(1..Paint.count)) %>
							<%= image_tag(rnd_img.image, alt: rnd_img.title, id: "myImg", class: "myImg", onclick: "paintZoomIn(this);") %>
						</div>
						<div class="col-lg-4 col-md-12 col-sm-12">
							<% rnd_img = Paint.find(rand(1..Paint.count)) %>
							<%= image_tag(rnd_img.image, alt: rnd_img.title, id: "myImg", class: "myImg", onclick: "paintZoomIn(this);") %>
						</div>
						<div class="col-lg-4 col-md-12 col-sm-12">
							<% rnd_img = Paint.find(rand(1..Paint.count)) %>
							<%= image_tag(rnd_img.image, alt: rnd_img.title, id: "myImg", class: "myImg", onclick: "paintZoomIn(this);") %>
						</div>
					</div>
				</div>
				<div class="col-lg-12" id="imageGrid3">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<% rnd_img = Paint.find(rand(1..Paint.count)) %>
						<%= image_tag(rnd_img.image, alt: rnd_img.title, id: "myImg", class: "myImg", onclick: "paintZoomIn(this);") %>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<% rnd_img = Paint.find(rand(1..Paint.count)) %>
						<%= image_tag(rnd_img.image, alt: rnd_img.title, id: "myImg", class: "myImg", onclick: "paintZoomIn(this);") %>
					</div>
				</div>
			</div>
		</ul>
	</div>
</section>

<!-- Contact Section -->
<section id="services">
	<div class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Servicios</h2>
				<p class="pHomePage">
					 Podrás solicitar un servicio artístico en las diferentes modalidades que ofrece <b><i><%= @page_name %></i></b>.
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="#" class="btn btnghost btn-lg"><i class="fa fa-handshake-o fa-fw"></i><span class="network-name"> Solicitar servicio</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- Community Section -->
<section id="community">
	<div class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Comunidad</h2>
				<p class="pHomePage">
					 Participa en la comunidad de <b><i><%= @page_name %></i></b>. Podrás observar las opiniones de las demás personas y comentar lo que piensas.
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="#" class="btn btnghost btn-lg"><i class="fa fa-users fa-fw"></i><span class="network-name"> Ir a comunidad</span></a>
					</li>
				</ul>
				<br></br>
				<p class="pHomePage">
					 También puedes seguir a <b><i><%= @page_name %></i></b> en redes sociales.
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
					<a href="https://twitter.com/wowthemesnet" class="btn btn-lg twitter"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
					</li>
					<li>
					<a href="https://www.facebook.com/pages/wowthemesnet/562560840468823" class="btn btn-lg facebook"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a>
					</li>
					<li>
					<a href="https://plus.google.com/u/0/b/110916582192388695332/110916582192388695332/posts" class="btn btn-lg google"><i class="fa fa-google-plus fa-fw"></i><span class="network-name"> Google+</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- Modal for images -->
<div id="myModalImages" class="modal" onclick="paintZoomOut(this);">
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>