<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
    				<h1 class="brand-heading">
    					<%= image_tag("3.PNG", alt: 'Anibal Borja', class: "mx-auto", style: "width: 10em; height: 4em;") %>
    				</h1>
    				<p class="intro-text">
    					<%= @lema %>
    				</p>
    				<a href="#about" class="btn btn-circle page-scroll">
    				    <i class="fa fa-angle-double-down animated"></i>
    				</a>
    			</div>
    		</div>
    	</div>
    </div>
</header>

<!-- About Section -->
<section id="about">
	<div class="container content-section text-center">
		<div class="row">
			<h2>Sobre mi</h2>
			<div class="col-lg-12 text-center">
			    <%= image_tag("anibalPhoto.jpg", alt: 'Anibal Borja', class: "mx-auto img-circle", style: "height: 10em; width: 10em;") %>
			    <br></br>
				<h5>Anibal Borja</h4>
			</div>
			<div class="col-lg-8 col-lg-offset-2">
				<p>
					Maestro en Bellas Artes, con especialización en Pintura. Egresado de la Universidad Nacional de Colombia.
				</p>
				<p>
					<a href="/biografía" class="btnghost"><i class="fa fa-plus"></i> Saber más</a>
				</p>
			</div>
		</div>
	</div>
</section>

<hr>

<section id="gallery">
	<div class="gallery">
		<br><br><br><br>
		<ul>
			<li class="col-md-12" style="text-align: center;">
				<p class="col-md-8">
					Pinturas <b>&middot</b> Retratos <b>&middot</b> Paisajes <b>&middot</b> Bodegones <b>&middot</b> Reproducciones <b>&middot</b> 
					Y mucho más
				</p>
				<p class="col-md-4">
					<button type="button" class="btn btn-info">Acceder a galería</button>
				</p>
				<br>
			</li>
			<li class="col-md-3">
			    <a href="portfolio-item.html">
			    	<img src="https://unsplash.it/680/380?random=1" alt="">
			    </a>
			</li>
			<li class="col-md-3">
    			<a href="portfolio-item.html">
        			<img src="https://unsplash.it/680/380?random=2" alt="">
    			</a>
			</li>
			<li class="col-md-3">
			    <a href="portfolio-item.html">
			        <img src="https://unsplash.it/680/380?random=3" alt="">
			    </a>
			</li>
			<li class="col-md-3">
    			<a class="image" href="portfolio-item.html">
    			    <img src="https://unsplash.it/680/380?random=4" alt="">
    			</a>
			</li>
			<li class="col-md-3">
    			<a href="portfolio-item.html">
    			    <img src="https://unsplash.it/680/380?random=5" alt="">
    			</a>
			</li>
			<li class="col-md-3">
    			<a href="portfolio-item.html">
    			    <img src="https://unsplash.it/680/380?random=6" alt="">
    			</a>
			</li>
			<li class="col-md-3">
    			<a href="portfolio-item.html">
    			    <img src="https://unsplash.it/680/380?random=7" alt="">
    			</a>
			</li>
			<li class="col-md-3">
			    <a href="portfolio-item.html">
    			    <img src="https://unsplash.it/680/380?random=8" alt="">
    			</a>
			</li>
		</ul>
	</div>
</section>

<!-- Contact Section -->
<section id="services">
	<div class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Servicios</h2>
				<p>
					 Podrás solicitar un servicio artístico en las diferentes modalidades que ofrece <i><%= @page_name %></i>.
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="#" class="btn btnghost btn-lg"><i class="fa fa-handshake-o fa-fw"></i><span class="network-name"> Solicitar servicio</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<!-- Community Section -->
<section id="community">
	<div class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Comunidad</h2>
				<p>
					 Participa en la comunidad de <i><%= @page_name %></i>. Podrás observar las opiniones de las demás personas y comentar lo que piensas.
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="#" class="btn btnghost btn-lg"><i class="fa fa-users fa-fw"></i><span class="network-name"> Ir a comunidad</span></a>
					</li>
				</ul>
				<br></br>
				<p>
					 También puedes seguir a <i><%= @page_name %></i> en redes sociales.
				</p>
				<ul class="list-inline banner-social-buttons">
					<li>
					<a href="https://twitter.com/wowthemesnet" class="btn btnghost btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
					</li>
					<li>
					<a href="https://www.facebook.com/pages/wowthemesnet/562560840468823" class="btn btnghost btn-lg"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a>
					</li>
					<li>
					<a href="https://plus.google.com/u/0/b/110916582192388695332/110916582192388695332/posts" class="btn btnghost btn-lg"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google+</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>